[2017-10-11 15:17] nathangibson opened #1 "Configure fork for easy updating from https://github.com/srophe/srophe-eXist-app"
@wsalesky I'm not sure what the process is for updating a forked repo that has been customized. Could you take a look at the commits so far (https://github.com/biblia-arabica/srophe-eXist-app/commits/dev) and see if there's anything that needs to be adjusted before we proceed with further customization? It would also be good to document this.

[2017-10-11 15:17] nathangibson commented on #1
P.S. I think you will have to accept my invitation before I can assign you issues.

[2017-10-11 15:24] nathangibson opened #2 "Create a separate box for manuscripts on the item page"
Right now we are using tags with the format "MS: ..." to indicate which manuscripts are relevant to a particular bibliographic item.

We would like these to appear as subjects on the page, but in a separate box from the subjects.

We will want to be able to browse and search by manuscripts (I will make a separate issue), and later we hope to build a database of manuscripts, but this is a ways off.

[2017-10-11 15:36] nathangibson opened #3 "Custom page references in Zotero notes"
When a bibliographic item is an entire book, and we want to refer to certain pages in it as relevant to our bibliography (but not as a "book section" item type) there is no place to put the pages in Zotero.

What we have done for now is to add a note beginning with "PP: " and then list the pages. E.g., https://www.zotero.org/groups/538215/biblia_arabica/items/itemKey/6BVBAQGI has a note "PP: 13, 2

[2017-10-11 15:50] nathangibson opened #4 "Decide how to handle subject tagging"
Right now, subjects are tagged in Zotero with tags in the format "Subject: " (e.g., https://www.zotero.org/groups/538215/biblia_arabica/items/itemKey/NMV2SFG9).

Should we use URIs for subject tagging? This could include using Syriaca/Srophe taxonomy module (or simply having them add the subjects we need) as well as tagging people and works. I'm not sure how developed this feature is currently in

[2017-10-11 15:54] nathangibson opened #5 "Add advanced browse for bibliography"
We would like a faceted browse such as http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/browse.html?view=facets for bibliography.

Some suggested initial facets to try:
 - Publication Date (//biblStruct/*/imprint/date)
 - Subjects (Have we designated a place for this yet in the Syriaca biblStruct format?)
 - Manuscripts

[2017-10-11 16:00] nathangibson opened #6 "Add "abstract" field to Zotero-TEI export"
We are using the "Abstract" field in Zotero, but the TEI translator doesn't include it in the export. I am writing a message to the maintainer to ask for a fix.

On my local machine I was able to fix it by modifying the translator: https://github.com/biblia-arabica/arabic-bible-bibliography/blob/master/TEI%20custom2-include%20abstract.js.

[2017-10-11 16:03] nathangibson opened #7 "Add abstract field to TEI/HTML"
I think this could be a note/@type='abstract' as a direct child of biblStruct. On the HTML page I would like to try putting it directly under the Preferred Citation box with the label "Abstract".

See also #6

[2017-10-16 15:31] wsalesky commented on #1
@nathangibson I have stripped out a lot of Syriaca.org submodule specific cruft, mostly unneeded html pages and submodule folders. So far I have not removed any unneeded xquery. So it should be easy to merge in new changes from upstream as we need them. I will leave this open until I can get some documentation written.

[2017-10-16 15:48] wsalesky commented on #2
@nathangibson I think we need to make some changes to the Zotero to TEI transform to handle the different types of notes. For example in 1.xml I see:

[code]
We could add the subject to the teiHeader//keywords ?
The id should probably be stripped as unnecessary?
I'm not sure what the best way to handle the MS notes. We could create URIs and add relations but there may be an easier way to deal with

[2017-10-16 15:53] nathangibson commented on #1
@wsalesky Thanks!

[2017-10-16 16:22] nathangibson commented on #2
1. Regarding subjects, I guess this could be added to the header for now as you suggest. Later we might want to use URIs for them, but we're not there yet.
2. Is it the case that we will be able to use the final string in the Zotero URI as the ID we build our URI on (as was suggested for Syriaca)? If so, then yes, the ID can be stripped.
3. I think having them as a relation, which could later be e

[2017-10-16 16:59] wsalesky commented on #2
1. Okay, lets add them to the header. This is the syntax (http://www.tei-c.org/release/doc/tei-p5-doc/en/html/examples-keywords.html):

[code]
Are you using a controlled vocabulary? If so we can reference it in the scheme attribute.

2. Currently the zotero2bibl library outputs an incremental idno for the 'local' id and a zotero idno
ex: `http://zotero.org/groups/538215/items/EMUXFUUM`

3. I think

[2017-10-16 17:22] wsalesky commented on #5
For publication dates do you want to do a range (maybe by decade) or individual dates?

[2017-10-17 15:12] nathangibson commented on #2
1. Sorry, but I think I am changing my mind on how to do keywords. Has Syriaca (i.e., @dlschwartz) given you any direction on how they will link bibliographic items to the taxonomy module? If not, I think it would probably be good to use listRelation for this too. It will have a few advantages: similar implementation as manuscript tagging, and better upgrading to using URIs including with RDF rela

[2017-10-17 15:29] nathangibson commented on #2
What do you think of the following relation format for the tags that will go in the subject and manuscript boxes? (It occurs to me that some of the subjects are persons, and some are even other bibliographic items.)
[code]
As we assign URIs to these things (probably in a year or two), we could simply add a `@passive` to the relation.

[2017-10-17 15:31] nathangibson commented on #5
Let's try a range by decade.

[2017-10-17 15:59] wsalesky commented on #5
Starting and ending where(ish)

[2017-10-17 16:20] nathangibson commented on #5
Well, I was going to say 1470 to present but that would be a lot! Maybe we should do 50-year ranges?

[2017-10-17 16:21] nathangibson commented on #2
It is not too hard to assign URIs--if they don't have to resolve to anything yet?

[2017-10-17 16:22] wsalesky commented on #2
No, they are just ids, and more likely to be consistent then free text.

[2017-10-17 16:24] wsalesky commented on #5
Okay, It is easily adjustable, I tried Century, but the current values are all clustered in the 1800-2000 (although looking at the numbers there may be some data missing).

[2017-10-18 15:42] nathangibson commented on #5
Thanks. I'm sure we will be able to tell you better once we have an example to look at but I think the 50-years is OK for now.

[2017-10-18 15:52] nathangibson commented on #2
OK, then I think you can write this with the assumption that we will use URIs (as passive values). I will work on minting some--for now there isn't good data for you to test on though.

How would you suggest inputting the data on the Zotero side? What about tags something like:
Subject: Historic Printings [http://biblia-arabica.com/keyword/historic-printings]
Subject: Solomon Schechter [http://bib

[2017-10-18 15:56] nathangibson commented on #2
In case it helps, I've tried this in this example: https://www.zotero.org/groups/538215/biblia_arabica/items/itemKey/4ZD2I7PH

[2017-10-27 19:45] #1 closed

[2017-10-30 12:55] wsalesky commented on #7
@nathangibson  What Zotero field is this coming from?

[2017-10-30 12:57] nathangibson commented on #7
In the Zotero interface this is labeled as "Abstract". In the JS it is abstractNote (see https://github.com/biblia-arabica/srophe-eXist-app/issues/6 and https://github.com/biblia-arabica/arabic-bible-bibliography/blob/master/TEI%20custom2-include%20abstract.js). Note that the out-of-box Zotero-TEI translator does not include it.

[2017-10-30 13:34] wsalesky commented on #5
Code is in place. I added a branch to the data repository with updated data (I ran a few xqueries to get the data in the correct format). In the future this data will be output via the Zotero script, but rather then waiting for it to be ready we can fake it for now.

Data branch:
https://github.com/biblia-arabica/biblia-arabica-data/tree/issue3

[2017-10-30 13:49] wsalesky commented on #4
Resolved here:
https://github.com/biblia-arabica/srophe-eXist-app/issues/2

[2017-10-30 15:32] wsalesky commented on #3
See data branch. (Still need to do the second half, i.e. break out cited ranges referencing subjects.)

[2017-10-30 15:39] nathangibson commented on #3
We are interested in this feature eventually, but it is not the highest priority for the demo, so feel free to leave it aside if there are others that still need work. Thanks!

[2017-10-31 02:02] wsalesky opened #12 "Add branding."

[2017-10-31 02:15] #12 closed

[2017-11-02 17:17] nathangibson opened #16 "Change footer citation guidance"
The footer of all citation entries says

Can we change "Syriaca.org Works Cited" to "A Bibliography of the Arabic Bible"?

I think the culprit is https://github.com/biblia-arabica/srophe-eXist-app/blob/master/srophe-app/resources/xsl/citation.xsl#L294. Perhaps another candidate for abstraction in the srophe app?

[2017-11-03 15:45] wsalesky commented on #16
Resolved, but leaving open as a reminder to add further abstraction into the XSLT.

[2017-11-03 16:01] nathangibson opened #18 "TEI button 405 error"
Is the TEI button (e.g. http://localhost:8080/exist/apps/ba/bibl/432/tei) supposed to work on localhost or only on a server? It is giving the following error:

[2017-11-03 16:03] nathangibson opened #19 "Include Zotero URI on entry detail page"
It would be nice to include the Zotero URI after the biblia-arabica URI on the entry detail page. E.g., http://biblia-arabica.com/bibl/432 would have https://www.zotero.org/groups/538215/biblia_arabica/items/collectionKey/9MBBGCGK/itemKey/H9PTUV6K

[2017-11-03 16:27] nathangibson opened #20 "Add "View at" button"
Unlike the Syriaca Works Cited module, which functions at the moment mainly as a way to pull citations into other records, this bibliography is primarily for people to find stuff.

So I think the "See Also" links are too buried -- this is where people can view the items online which should be a prominent feature. Example records are http://biblia-arabica.com/bibl/110 (Google Books) and http://bibl

[2017-11-03 16:29] nathangibson commented on #5
Would be awesome if we could add another facet to Advanced Browse that is a simple toggle "Viewable Online". With the current structure this could be a "Viewable Online" header with "Yes" and "No" values. The logic would be bibls that have idnos or ref targets that are not biblia-arabica.com, https://zotero.org, or http://www.worldcat.org

[2017-11-03 16:30] nathangibson opened #21 "Remove "Font" dropdown by search box"

[2017-11-03 16:31] nathangibson opened #22 "Change keyboard language selections"
Perhaps this is something I can do if I get time.

We would like
Arabic Mod. Standard
Hebrew
English QWERTY

[2017-11-03 17:55] wsalesky commented on #18
To fix this you will either have to rebuild and deploy the app or update the rest.xql file and run the following code in eXide (this will redeploy the restxq code. ):

[code]
You will also need to install the 'SPARQL and RDF indexing for eXist-db' pacakge, available from the package manager in the eXist dashboard.

Let  me know if you still have trouble.
Also in related news, you can add additiona

[2017-11-03 17:55] #18 closed

[2017-11-03 18:11] #21 closed

[2017-11-03 18:20] wsalesky commented on #19
The Zotero ID is not in the TEI. (Unless I am missing it?) We will have to add it to the new conversion script.

[2017-11-03 18:51] wsalesky commented on #22
It is supposed to be fairly straight forward, you need to make sure there is a link on templates/page.html to the correct language (I think you have to add Hebrew, the others are already there) and then add Hebrew to the repo.xml file as well (the id can be found at the top of the specified language's javascript code).

Let me know if that does not work, or is to convoluted.

[2017-11-03 19:05] wsalesky commented on #20
@nathangibson Would you want this in the right hand menu? Or do you want it embedded in the page?

[2017-11-03 19:39] wsalesky commented on #20
Branch issue20 has buttons added to the right hand menu. I'm not entirely sure this is optimal. I will see what else I can come up with.

[2017-11-04 11:08] nathangibson commented on #19
This is supposed to be this line https://github.com/biblia-arabica/zotero2bibl/blob/master/zotero2tei.xqm#L90. Note I am not talking about an ID tag in Zotero but rather the address for the resource on zotero.org.

[2017-11-04 11:09] nathangibson commented on #21
Thanks!

[2017-11-04 11:10] nathangibson commented on #18
Thanks, will try this if I get time.

[2017-11-04 14:34] nathangibson commented on #20
Thanks, you did this fast! I would love for it to be even more obvious--one of the first things you see. What about using one of those blue accent buttons like I've seen somewhere on Syriaca? And perhaps putting it just above or just below the preferred citation box?

[2017-11-05 16:02] wsalesky commented on #20
@nathangibson I moved it to the center, shall I move it to the server version?

[2017-11-06 05:30] nathangibson commented on #20
Yes please.

[2017-11-07 02:25] wsalesky commented on #4
@nathangibson I am comparing the new output with the old, and I'm noticing some records had subjects and no longer do. Examples:
http://lmkwitg-xdb01.srv.mwn.de/exist/apps/ba/bibl/476
https://www.zotero.org/groups/538215/biblia_arabica/items/itemKey/2RDD2JA4/q/Acta%20mythologica%20Apostolorum

The Zotero link has no subject tags? Have you been doing some editing, or am I missing something.
Thanks.

[2017-11-07 12:57] nathangibson commented on #4
I have been doing some editing, including on the example you cited. I don't remember exactly what I did but I think it is fine. Thanks!

[2017-11-07 16:08] wsalesky commented on #20
Done.

[2017-11-07 16:08] #20 closed

[2017-11-07 16:11] wsalesky commented on #19
This works out of the box as long as the link is in the data. It is included in the new version of the data. See: https://github.com/biblia-arabica/biblia-arabica-data/tree/issue4

[2017-11-07 16:11] #19 closed

[2017-11-07 16:12] wsalesky commented on #2
Done.

[2017-11-07 16:12] #2 closed

[2017-11-07 16:12] wsalesky commented on #4
This has also been taken care of.

[2017-11-07 16:12] #4 closed

[2017-11-07 16:13] wsalesky opened #28 "Faster browse/search results."
This will require fewer xslt template calls.

[2017-11-07 18:54] wsalesky commented on #22
Done.

[2017-11-07 18:54] #22 closed

[2017-11-07 19:24] wsalesky commented on #5
Still need to make it a toggle, not a button like all the rest.

[2017-11-09 15:24] wsalesky commented on #3
@nathangibson I noticed the notes field is not output by the api when I request the JSON, looking for a way to grab those as well, and then I will add the additional cited ranges to the zotero2bibl transform and the HTML output.

[2017-11-15 16:31] nathangibson opened #31 "Add webhooks"

[2017-11-15 16:37] nathangibson opened #32 "Add Hebrew to browse tab languages"
At http://lmkwitg-xdb01.srv.mwn.de/exist/apps/ba/bibl/browse.html?view=A-Z
The character range is א [U+05D0] to ת [U+05EA] and the tab label should be "א-ת". This should come between Arabic and "Other."

[2017-11-16 10:00] nathangibson opened #33 "Check into SOSOL for eXist --> Github syncing"

[2017-11-16 10:16] nathangibson commented on #3
Hmm, that's weird. I don't know if it's any help but the `&include=bib` parameter does output the content of note items and links them to their parent item using `links.up.href`.

[2017-11-16 11:19] nathangibson commented on #5
I have run the advanced browse options through the academic committee, and we have come up with the following additional facets/tweaks:

- Please sort Publication Date from newest to oldest (reverse of now).
- At 1900 and above, how difficult would it be to break it into 25-year ranges?
- Can we add a facet for "Authors/Contributors" ? Names should be "[surname], [forename]". This would facet on `

[2017-11-16 11:25] nathangibson opened #34 "Advanced Browse sorting"
The title sort order at browse.html?view=facets is different from browse.html?view=A-Z. I like the second better as it eliminates punctuation, numbers, and blank titles, which appear at the beginning of the list in the advanced browse.

[2017-11-16 14:44] nathangibson opened #35 "Add OCLC link"
When we import items from WorldCat, it puts the OCLC number in the "Extra" field in Zotero (`data.extra` in JSON). Can we parse this into a WorldCat link please and add it to the idnos? (However, worldcat.org links should not count as "Viewable Online").

Example: https://api.zotero.org/groups/538215/items/CW4DTAC2
The format in the "Extra" field is "OCLC: 315665534" and it should become http://ww

[2017-11-16 14:53] nathangibson opened #36 "Correct Zotero URIs"
Something weird is happening with the Zotero URIs. I think this is left over from how I originally wrote the TEI transform.

E.g., http://biblia-arabica.com/bibl/CW4DTAC2 displays the following:

The first is an idno with type="zotero" but should be type="URI". And I wonder if we should strip out the "api" subdomain of the second? I'm not sure it makes sense to send regular users to a JSON page, a

[2017-11-16 15:49] nathangibson opened #37 "Add record creator to TEI using Zotero data"
We would like to show credit, to the extent possible, for the people who worked on each bibliography entry. I don't see that Zotero records everyone who worked on a record, only the creator and the last editor. So I would suggest the following and welcome your input:

1. Add the following to the TEI record at /TEI/teiHeader/titleStmt, where [userURI] is `meta.createdByUser.links.alternate.href` an

[2017-11-16 17:40] nathangibson opened #38 "Additions to advanced search"
We would like to add the following to advanced search
- Date as range instead of single field (like http://wwwb.library.vanderbilt.edu/persons/search.html)
- Subject (for now a text search of `/TEI/text/body/listRelation/relation[@ref='dc:subject']/desc` though in future should it be powered by the passive URI?)
- Manuscript (for now a text search of `/TEI/text/body/listRelation/relation[@ref='dct

[2017-11-16 17:49] nathangibson opened #39 "Add Hebrew and Arabic internationalization to interface"
What is the best way to add Hebrew and Arabic translations to the interface? Obviously, this will not apply to the data itself but only to the HTML.

[2017-11-16 18:13] nathangibson opened #40 "Narrow manuscript search/browse by country, city, repository, collection"
Eventually we will be building a manuscripts database, but for now we want to be able to effectively search manuscripts by their shelfmark. Right now we separate the parts of an identifier with commas in "MS: " tags in Zotero, but I imagine we will need some primitive TEI files containing identifiers like this one in order to do this properly: https://github.com/biblia-arabica/biblia-arabica-data/

[2017-11-16 18:15] nathangibson opened #41 "Advanced Browse sorting"
I'm out of time for today, but I want to discuss how we can consolidate/improve the sorting options for browse and advanced browse in terms of languages and sort parameters (title and author). I will try to fill out this issue later.

[2017-11-17 21:56] wsalesky commented on #32
Added. Do you want an 'abc' menu along the top as well? Like English and Arabic? Or is it fine as is? So far there are not many records, so splitting them up under letter menus does not make as much sense, but you may have a lot of them in the future.

[2017-11-20 03:10] wsalesky commented on #28
@nathangibson I moved the citation formatting to xquery rather then XSLT, it seems much faster. Let me know if there are any display issues, the citation XSLTs are rather convoluted so I may have missed some things. However the browse and search pages are quite a bit speedier.

[2017-11-20 03:10] #28 closed

[2017-11-21 12:57] nathangibson commented on #28
Wow, this is now lightning fast. Thanks!

[2017-11-21 14:52] nathangibson opened #44 "Enhanced citation options"
We are interested in the following citation options, but do not want to slow down your now lighting-fast load times. Let me know what sounds feasible.
 1. Would it be possible to include on the record page the metadata (=COINS format?) that will allow the user's Zotero plugin to recognize and import the item? E.g. https://api.zotero.org/groups/538215/items/R9NJSR5Q?format=coins. This is most impor

[2017-11-21 14:53] wsalesky commented on #28
Great! Thanks, I'm porting this change over to Syriaca.org as well, so we should see s bump in speed there soon.

[2017-11-21 15:00] nathangibson commented on #32
Thanks! I think in future there will probably be enough to warrant the 'abc' menu, but I am moving that to stage 2. Below is one letter per line, in order.

א
ב
ג
ד
ה
ו
ז
ח
ט
י
כ
ל
מ
נ
ס
ע
פ
צ
ק
ר
ש
ת

[2017-11-22 03:40] wsalesky commented on #5
Done. Let me know if there is anything else you need.

[2017-11-22 12:15] nathangibson commented on #5
Thanks!

[2017-11-22 12:15] #5 closed

[2017-11-26 02:55] wsalesky commented on #34
@nathangibson The title sort for the Alphabetical filters on the first letter of the title, so all blank and numeric titles are not actually in the list. The advanced browse is doing a sort on all titles (no letter filter applied). I can filter out blank titles, but I would not think we would want to filter out numbers? Those would then not appear anywhere in the browse.

[2017-11-26 02:59] wsalesky commented on #36
@nathangibson I think the a single link to the Zotero record is probably fine. I will switch the type for the first to URI and swap out the api subdomain so the links look like this:

[2017-11-26 03:17] wsalesky commented on #36
Done in the data, the change needs to be merged into master if it looks good to you. I will move it to the server after it has been merged.

[2017-11-27 14:05] wsalesky commented on #38
@nathangibson Please review and close if the changes look correct.

[2017-11-27 14:07] wsalesky commented on #41
@nathangibson This is the last issue in Stage 1. If you give me details I can have finish up with all stage 1 developments this week.

[2017-11-28 17:33] wsalesky commented on #31
This has been added for the Application code. As discussed we will need a different solution for the data repository.

[2017-11-28 17:33] #31 closed

[2017-12-04 14:24] nathangibson commented on #39
Sorry, misunderstanding--cancel this!

[2017-12-04 14:24] #39 closed

[2017-12-04 14:26] nathangibson opened #48 "Add corrections/additions button"
Like Syriaca.org

[2017-12-04 14:28] nathangibson commented on #38
Looks good!

Could we have a drop-down of existing subjects for the subject field?

[2017-12-04 14:30] nathangibson commented on #33
We are moving this up in priority -- either using this feature or some other kind of backup.

[2017-12-04 14:33] wsalesky commented on #48
I will need your SMT server address. Also what addresses should corrections/additions be sent to?

[2017-12-08 13:59] wsalesky commented on #41
@nathangibson Checking in on this ticket.

[2017-12-08 14:02] wsalesky opened #49 "Updates for eXist 3.6.0"
Change collation handling.

[2017-12-08 14:11] #49 closed

[2017-12-08 14:35] wsalesky commented on #38
Added subject drop down. Subjects sorted alphabetically.

[2017-12-08 14:35] #38 closed

[2017-12-08 16:13] #35 closed

[2017-12-08 16:14] #36 closed

[2017-12-08 16:30] nathangibson commented on #41
OK, sorry this has taken so long to get back to you!

Can we simply disregard punctuation and numbers for advanced browse sorting? Currently I am seeing the following items show at the beginning of the list: ¿ ... ' ( [

So the following would show up under "C" for example:
¿Circularon textos cristianos orientales en al-Andalus? Nuevos datos a partir de una muestra véterotestamentaria andalusí

I

[2017-12-08 16:34] nathangibson commented on #36
Looks good, thanks!

[2017-12-08 16:50] nathangibson commented on #33
Sorry for the cryptic comment on this earlier, which I submitted during the middle of a meeting.

The fuller explanation is: Our top priority for Stage 2 is making sure we have a good backup of the data happening. I don't mind manually saving the data out of eXist occasionally and putting it into the Github repo. And I can ask the server guys what kind of backup they're doing. But we want to make

[2017-12-08 16:57] nathangibson opened #52 "Consolidate Advanced Browse"
Priority no. 2 for Stage 2

We feel that Advanced Browse should be *the* interface for exploring the bibliography. As such, we would like to consolidate what happens when you click on the "Browse" button.

Instead of having Advanced Browse as one of several tabs, could we remove the "Advanced Browse" label and have the different script options ("A-Z" etc.) as subtabs *within* the advanced browse p

[2017-12-08 17:45] nathangibson opened #53 "Multi-Script handling"
Priority no. 3 for Stage 2

We would like to return to the issue of bibliographic items with multiple scripts, which Zotero doesn't have a good mechanism for. Due to our editing workflow and the capacity of the group members, we aren't very keen to consider a stand-off markup section in TEI that we would need to maintain outside of Zotero, but would rather find a way to do it in Zotero.

We are tr

[2017-12-11 14:09] wsalesky commented on #53
@nathangibson I think which ever is most convenient for data entry is fine. I can work the script around any of the above options.

[2017-12-12 16:40] wsalesky commented on #37
Added to the data.

[2017-12-12 16:40] #37 closed

[2017-12-13 01:49] wsalesky commented on #52
Let me know what you think: http://lmkwitg-xdb01.srv.mwn.de/exist/apps/ba/bibl/browse.html?view=A-Z

[2017-12-15 16:04] nathangibson commented on #52
Visually I find this makes more sense than earlier. However, I'm realizing that the filtering logic is complex and doesn't end up with the user being able to do what I intended. Sorry this is my problem not yours!

Right now, it looks as if the filtering is in this order: Script > Letter > Facet > Page number. There are some problems with this from a user perspective. 1) Users would want to facet

[2017-12-15 16:11] wsalesky commented on #52
That make sense. It will require some reworking of the xquery that powers the browse. I will let you know when I have something working.

[2017-12-15 17:12] nathangibson commented on #53
OK, then let's go with what I suggested above, and with authors/editors entered separately for each script in Zotero.

[2017-12-15 17:13] nathangibson commented on #33
OK, I'm good with whatever you think.

[2017-12-20 16:37] nathangibson commented on #48
Update: When loading any item detail page (e.g., http://lmkwitg-xdb01.srv.mwn.de/exist/apps/ba/bibl/2V4AQWB4), I get a message saying in German the equivalent of "reCaptcha cannot be reached. Check the connection and try again."

[2017-12-20 16:41] nathangibson commented on #41
This appears fixed to me. Feel free to close.

[2017-12-20 16:41] nathangibson commented on #34
Appears fixed.

[2017-12-20 16:43] nathangibson commented on #32
Individual letters possibly obselete in light of #52 . Close issue?

[2017-12-20 16:48] wsalesky commented on #32
Sounds good.

[2017-12-20 16:48] #32 closed

[2017-12-20 16:50] #41 closed

[2017-12-20 16:50] #34 closed

[2017-12-21 14:34] wsalesky commented on #52
Okay, this should be closer. At least there is a working advanced browse. Bells and whistles can be added later.

This does not have the  fancy paging mentioned above (not enough coding time left), perhaps we can revisit it as a future enhancement.

[2017-12-21 15:03] nathangibson commented on #52
Sounds good! I think this is much more functional now.

[2017-12-21 15:09] nathangibson opened #60 ""Browse" link in header sometimes links to browse.html?view=A-Z instead of browse.html"
On some pages such as http://lmkwitg-xdb01.srv.mwn.de/exist/apps/ba/bibl/index.html and item detail pages like http://lmkwitg-xdb01.srv.mwn.de/exist/apps/ba/bibl/2V4AQWB4 the "Browse" link in the header links to browse.html?view=A-Z, which is no longer the correct syntax after #52 and shows only 99 results.

[2017-12-21 15:10] nathangibson commented on #60
I might be able to fix this.

[2017-12-21 15:10] wsalesky commented on #60
I suspect caching

On Thu, Dec 21, 2017 at 10:10 AM, nathangibson <notifications@github.com>
wrote:

[2017-12-21 15:11] nathangibson commented on #60
Oops, sorry!

[2017-12-21 15:11] #60 closed

[2017-12-21 15:12] wsalesky commented on #60
👍

[2017-12-21 15:13] nathangibson commented on #52
Future tweaks should include fixing "Sort by" which for "Title" is somehow different from the default sort and for other sorting options doesn't seem to do anything.

[2017-12-22 02:18] wsalesky commented on #52
This is better, there are issues with dates as they are not all uniformly entered. I think that is a data issue though, not a script issue.

[2017-12-22 10:10] nathangibson commented on #52
Ahh, yes, this is definitely better but will need some more tweaking and data cleanup.

[2018-01-26 13:43] nathangibson opened #64 "Add copy button to preferred citation"
To add sometime ...

Some websites (such as https://www.gesundheit.de/ernaehrung/alles-bio) add extra text to the clipboard to identify the citation when you copy something. We might want to look at doing this for Biblia Arabica. E.g., "Cited from http://biblia-arabica.com/...".

[2018-05-29 12:03] nathangibson opened #65 "Error on eXist landing pages"
I get an eXist error when I go to http://lmkwitg-xdb01.srv.mwn.de/exist/apps/ba/bibl/index.html and a 404 when I go to http://lmkwitg-xdb01.srv.mwn.de/bibl/browse.html and http://lmkwitg-xdb01.srv.mwn.de/bibl/index.html.

Is this a problem with eXist settings or something our server admin needs to solve?

[code]

[2018-05-29 12:38] wsalesky commented on #65
Fixed. Needed to retrigger a webhook to push new repo-config.xml file to the server.

To get the short paths working  (http://lmkwitg-xdb01.srv.mwn.de/bibl/browse.html) you will need to have your system admin get Apache or  NGINX to set the webroot to http://lmkwitg-xdb01.srv.mwn.de/exist/apps/ba/

Thanks!

[2018-05-29 12:38] #65 closed

[2018-05-29 12:40] nathangibson commented on #65
Thanks!

[2018-07-05 10:03] #52 closed

[2018-07-05 10:05] nathangibson commented on #33
I think for now we will do this for backup and versioning: When we use the update script, I will also post the udpated records to the data repository.

[2018-07-05 10:05] #33 closed

[2018-07-05 10:08] nathangibson commented on #40
For now I have used an inelegant hack by tokenizing the values in manuscript tags in the format: "MS: City, Collection, Shelfmark". See https://github.com/biblia-arabica/srophe-eXist-app/commit/d9d6dab1ef47b9965063c2576933a00f015fb272

[2018-07-05 10:09] nathangibson commented on #40
Later we can build this off individual ms record files.

[2018-07-05 10:11] nathangibson commented on #48
Now I get the error message "invalid domain for website key" (in German). Will this be automatically fixed when we move to the biblia-arabica.com domain?

[2018-07-05 10:22] nathangibson commented on #44
I'm still wondering what might be possible here ...

[2018-07-05 10:29] nathangibson opened #66 "Change URIs http://biblia-arabica.com to https://biblia-arabica.com"
I can do this, but I need to know where. Is it just in the transform from Zotero to TEI or is it other places too?

[2018-07-05 10:57] wsalesky commented on #3
@nathangibson That's embarrassing! It is a leftover error processing message in the Zotero transformation. I have removed it, but you will have to rerun the records.

[2018-07-05 10:59] wsalesky commented on #48
@nathangibson what domain do you have for registered for reCaptcha? (You could register both, then it will not be a problem.)

[2018-07-05 11:02] nathangibson commented on #3
No problem!

[2018-07-05 11:03] nathangibson opened #67 "Preferred citation formatting"
There are numerous issues (commas, spaces, etc.) with formatting of the "Preferred Citation" and the citation on the brief browse/search view. We could address these individually, but I wonder if the easiest thing would be to simply import the Chicago citation through the Zotero API? (See https://github.com/biblia-arabica/srophe-eXist-app/issues/44). Let me know if you prefer that I list the indiv

[2018-07-05 11:06] nathangibson commented on #48
I have both biblia-arabica.com and lmkwitg-xdb01.srv.mwn.de registered. I don't need to list http or https in front of them, do I?

[2018-07-05 11:08] wsalesky commented on #67
@nathangibson it is up to you if you, but development time wise it would probably be fastest to import the Zotero citation. Maybe as a new note field? We can also try importing the latest from Syriaca.org, see if that helps at all.

[2018-07-05 11:09] nathangibson opened #68 "Inaccurate "Viewable online" filter"
On the browse page, some items listed under "Viewable online" (http://lmkwitg-xdb01.srv.mwn.de/exist/apps/ba/bibl/browse.html?fq=;fq-Viewable%20Online:true) are not actually. E.g., http://lmkwitg-xdb01.srv.mwn.de/exist/apps/ba/bibl/EA87P8NR.

I might get around to checking this if you don't know offhand what is causing it.

[2018-07-05 11:21] wsalesky commented on #68
The assumptions made about idno's is incorrect:
https://github.com/biblia-arabica/srophe-eXist-app/blob/master/srophe-app/modules/lib/facet.xqm#L193

You would just need to change the xpath here
https://github.com/biblia-arabica/srophe-eXist-app/blob/master/srophe-app/modules/lib/facet.xqm#L193
and
https://github.com/biblia-arabica/srophe-eXist-app/blob/master/srophe-app/modules/lib/facet.xqm#L289

[2018-07-05 12:28] wsalesky commented on #48
This should be fixed. (I sent a test email, close if you received it)

[2018-07-05 12:35] nathangibson commented on #67
I definitely think it is best to import the formatted citation from Zotero. Citation style is Zotero's specialty, and if we are writing our own transform we are bound to get it wrong somewhere.

I would suggest adding a typed bibl element after the biblStruct, like so ( for https://www.zotero.org/groups/538215/biblia_arabica/items/itemKey/2B7SK2Y7)
[code]
What do you think? Is there some way note

[2018-07-05 12:59] wsalesky commented on #67
@nathangibson That sounds good. I will have time in 2 weeks to add this, if you want to try before then that is fine. See https://github.com/biblia-arabica/zotero2bibl/blob/master/zotero2tei.xqm#L302 for how we make an additional call for each record to get the notes. The citation would be similar.

[2018-07-05 13:43] nathangibson commented on #67
OK, thanks!

[2018-08-27 15:29] nathangibson opened #69 "Git webhook sync errors on facet-def and record"
I get the following errors on sync (I have updated them manually in eXist for now). Feel free to move this issue up the fork if it is relevant to other projects.

[code]

[2018-08-27 21:54] wsalesky commented on #69
Did have the webhooks been working, or have you not used them in a while?

Sent from my iPhone

[2018-08-28 14:09] wsalesky commented on #69
@nathangibson This has been fixed.

[2018-08-28 14:09] #69 closed

[2018-08-28 14:26] nathangibson commented on #69
Thanks. The webhooks in general have been working — it was just these two files that were the problem.

[2018-08-29 00:34] wsalesky commented on #69
Okay, it was a problem with adding new files. Should be fixed.

[2018-09-26 08:38] nathangibson commented on #66
I believe this is taken care of.

[2018-09-26 08:38] #66 closed

[2018-09-28 15:04] nathangibson commented on #67
@wsalesky I'm working on this since we are trying to do a soft launch very, very soon. Right now one of the biggest issues I see is that many citations are just not turning out correctly.

This is what I'm trying to do to import the formatted Zotero citation:
https://github.com/biblia-arabica/zotero2bibl/commit/96d0397cddc17d7e63e86d05109d4a092504843e
Zotero's JSON API has an include=bib parameter

[2018-09-28 15:08] wsalesky commented on #67
@nathangibson Yes that seems reasonable. Can you run it on a subset of the data to get an idea of how it supposed to work? When is the soft launch, I can see if I can solve this issue: https://github.com/biblia-arabica/zotero2bibl/issues/13 so you can test locally on a subset of records.  May take an hour or 2.

[2018-09-28 17:56] nathangibson commented on #67
Thanks! Ideally next week, though I'm not sure whether we'll have the data ready yet by then.

[2018-09-29 07:57] nathangibson commented on #67
That is very kind! I think the main thing is I'm still trying to make some tweaks in the Zotero conversion and might need some guidance or troubleshooting there.

One thing I'm thinking of is using the suggestion here to batch find-replace some Zotero data:
https://forums.zotero.org/discussion/comment/112198/#Comment_112198

What do you think?

[2018-09-29 07:57] nathangibson commented on #67
On another note, our server is kind-of back up and running. (Everything seems to be working except Dashboard, strange.) And the get-zotero-data requests are now working. Yay!
So I was able to process a batch of 100 records, and they are successfully pulling in the formatted citations. See list below. Example: http://lmkwitg-xdb01.srv.mwn.de/exist/apps/ba-dev/bibl/SYDH8BVT where the citation render

[2018-09-29 11:35] nathangibson opened #70 "Remove forward/back navigation arrows"
These do nothing in the bibliography app with non-numeric URIs.
![the_karaite_tradition_of_arabic_bible_translation__a_linguistic_and_exegetical_study_of_karaite_translations_of_the_pentateuch_from_the_tenth_and_eleventh_centuries_c_e_](https://user-images.githubusercontent.com/3083452/46245350-9425bf00-c3ec-11e8-9b63-f9c9e376183a.jpg)

[2018-09-29 11:37] nathangibson opened #71 "Fix pub place search field"
E.g. http://lmkwitg-xdb01.srv.mwn.de/exist/apps/ba-dev/search.html?q=&title=&author=&mss=&pub-place=Leiden&publisher=&start-date=&end-date=&idno= yields 0 results.

[2018-09-29 11:37] nathangibson opened #72 "Fix publisher search field"
0 results

[2018-09-29 11:38] nathangibson opened #73 "Fix subject drop-down search field"
Needs re-indexing + needs an "any subject" option.

[2018-09-29 11:38] nathangibson opened #74 "Remove "Draft" banner message on production"

[2018-09-29 11:56] nathangibson commented on #53
@wsalesky I've been rethinking this. (I don't believe you've implemented it yet, right?)

My guess is that this is a hack we will always have problems with. A couple of illustrative problems: (1) I doubt we could ever use Zotero's citation formatting for multi-script items separated by " || ". (2) By entering the same author in multiple scripts, Zotero and SROPHE process this as multiple authors.

[2018-09-29 23:58] wsalesky commented on #67
@nathangibson I may be able to help if you give me an example file that is not working. Have you tried: parse-xml-fragment() ? this may make it easier to strip unwanted HTML.

Also, I noticed when I looked at a test record that some of them still have the 'Hey, this one has kids!' Which I had added to troubleshoot, but I thought we had fixed in a past version.

It is no longer in the code: https:/

[2018-09-30 00:16] wsalesky commented on #72
@nathangibson Aa an FYI any full text search fields will need to be defined in the Lucene index configuration: (anything in here https://github.com/biblia-arabica/biblia-arabica-data/blob/master/collection.xconf#L6 is part of the Lucene index). The tricky part of this is that this configuration file needs to be added/edited in /db/system/config/db/apps/ba-data/

When you deploy the data applicatio

[2018-10-01 01:10] wsalesky commented on #53
@nathangibson That seems sensible to me.

[2018-10-01 09:02] nathangibson opened #75 "eXist error for advanced browse"
This throws an error from advanced browse: http://lmkwitg-xdb01.srv.mwn.de/exist/apps/ba-dev/browse.html?fq=;fq-Authors/Contributors:Juan%20Pedro%20Monferrer-Sala
[code]

[2018-10-01 09:03] nathangibson opened #76 "Remove Syriaca favicon beside citation URIs"

[2018-10-01 09:09] nathangibson opened #77 "Change label "Manuscript City" to "Manuscript Location" in Advanced Browse"

[2018-10-04 08:30] nathangibson commented on #67
Yay, parse-xml-fragment worked! I have to make a few more tweaks, but I think I've learned where to do that in the XSLT. I'll use a template for `bibl[@type='formatted']` which will simply italicize `title[@level='m']` and put quotes around `title[@level='a']`.

You can see what I've done so far at http://lmkwitg-xdb01.srv.mwn.de/exist/apps/ba-dev/bibl/EBVWXW94. (The ä in the author name was givin

[2018-10-09 09:52] nathangibson commented on #3
Currently  this looks like "CitedRange: 67" (e.g., http://lmkwitg-xdb01.srv.mwn.de/exist/apps/ba-dev/bibl/4DKA9SGQ).
I want to change this to "See pp. 67" and move it farther up the page.

[2018-10-09 09:53] nathangibson commented on #53
FYI @wsalesky We've decided we won't split them up yet and also won't try to develop any special handling for this yet, until we have resolved more pressing issues. For now the citations will show up in the bibliography with the " || " and that's OK.

[2018-10-09 15:07] nathangibson commented on #67
I believe this is working correctly now.

[2018-11-06 19:02] #74 closed

[2018-11-06 19:02] #76 closed

[2018-11-06 19:02] #77 closed

[2018-11-08 09:03] nathangibson opened #79 "Fix advanced search"
I'm commenting out the advanced search links until issues #71, #72, #73 are fixed. Please uncomment when these are done.

[2018-11-08 09:06] nathangibson opened #80 "TEI download is 400 Unsupported"
E.g. the TEI icon at https://biblia-arabica.com/bibl/NWP4L3Q8 links to https://biblia-arabica.com/bibl/NWP4L3Q8.tei which gives the error message

[2018-11-08 09:09] nathangibson commented on #80
Same with RDF/TTL and RSS, but these are not critical for us, so the icons could simply be removed if that is the easiest way to fix them.

[2018-11-08 09:43] nathangibson opened #81 "Expose bibl entries to Zotero Connector"
It would make sense for users of our bibliography to be able to import items into Zotero directly from our bibl pages instead of having to follow the link to the Zotero group library for each entry. (This means importing the item described, such as a book, rather than importing the page that describes it.) It would especially be useful for lists on the Browse page or in search results. I see three

[2018-11-08 09:47] nathangibson commented on #81
Related: #67

[2018-11-08 09:51] nathangibson opened #82 "Use pre-formatted citations in Browse / search lists ( = record short view?)"
List views (https://biblia-arabica.com/bibl/browse.html) still use the old citation formatting.

I suppose this would involve editing https://github.com/biblia-arabica/srophe-eXist-app/blob/master/srophe-app/resources/xsl/rec-short-view.xsl#L516 to reflect what I have done here: https://github.com/biblia-arabica/srophe-eXist-app/commit/02c2b196c37466b2fe2688100553555b168961d0

Related: #67

[2018-11-08 10:33] nathangibson commented on #40
We would still like to include this feature if possible, i.e., a drop-down in the Browse filter area that successively filters by Manuscript Location, Collection, and Shelfmark. See the example from [vHMML](https://www.vhmml.org/readingRoom/) when you click in the search bar.

Using as an example [MS: Oxford, Bodleian Libraries, Hunt. 206](https://biblia-arabica.com/bibl/browse.html?fq=;fq-Manuscr

[2018-11-08 10:34] nathangibson commented on #40
Oops, meant to reopen issue with previous commen.t

[2018-11-08 10:56] nathangibson opened #83 "Add language facet and change "Language" facet to "Citation Script""
Our facet currently labeled "Language" is really "Citation Script." Can we label it this and move it to the bottom of the facets?

It would be good to have an actual language facet based on the Language field in Zotero (see https://github.com/biblia-arabica/zotero2bibl/issues/16).

Not sure where we should store (or grab) the language labels. We are using BCP47 codes with ISO 639 for language and

[2018-11-08 11:49] nathangibson commented on #3
This is still not showing up, e.g., for https://biblia-arabica.com/bibl/N6J9N2WK = https://www.zotero.org/groups/538215/biblia_arabica/items/itemKey/N6J9N2WK

[2018-11-08 11:53] nathangibson commented on #64
Making this more general -- it would be good to have a copy button (like the URI copy button) for the preferred citation.
As mentioned above, this could add to the end of the citation "Cited from [URI]."

[2018-11-08 11:55] nathangibson commented on #75
I can't reproduce this issue in the new version: https://biblia-arabica.com/bibl/browse.html?fq=;fq-Authors/Contributors:Juan%20Pedro%20Monferrer-Sala.

[2018-11-08 11:55] #75 closed

[2018-11-08 12:06] nathangibson opened #84 "Pull in refactored Srophe app"
Excited about the new, refactored Srophé!

When you think it is a good time, we could test this out in the dev branch (or another non-master branch) for Biblia Arabica.

What is the correct procedure for this? I would be happy to learn how to do this (and also happy for you to be the one to actually do it if you have time).

Is there any further abstraction we should be aware of, where we need to

[2018-11-08 13:54] wsalesky commented on #80
@nathangibson sometimes the restxq module needs to be manually rebooted. You will need to run this snippet in eXide.

[code]

[2018-11-08 13:58] wsalesky commented on #48
@nathangibson Yes, I think that will fix the issue. If not let me know.

[2018-11-08 15:06] nathangibson commented on #80
OK, what is the risk level of this taking down the server?

[2018-11-08 15:15] wsalesky commented on #80
Very minor, I have never taken down the server running this script.

On Thu, Nov 8, 2018 at 10:06 AM nathangibson <notifications@github.com>
wrote:

[2018-11-08 15:16] wsalesky commented on #80
@nathangibson I will note that the refactor removes the use of the restxq for data serialization so this step will go away.

[2018-11-09 10:27] nathangibson opened #85 "Counter / Analytics"
I wonder if we would want to monitor basic, anonymized usage. I believe you had google analytics for Syriaca, but I wonder if there's something less invasive that would just give us a basic idea of traffic. Definitely should be GDPR compliant.
I came across https://statcounter.com. Do you have any recommendations?

[2018-11-09 14:07] wsalesky commented on #48
@nathangibson did that commit fix the issue?

[2018-11-09 15:11] wsalesky commented on #71
Needed to add tei:pubPlace to collection.xconf. will require a reindex once all the advanced search issues are addressed.

[2018-11-09 15:11] wsalesky commented on #72
Needed to add tei:publisher to collection.xconf for indexing.

[2018-11-09 15:12] wsalesky commented on #73
This seems to be fixed when I install locally. I will make sure it is on the production site.

[2018-11-09 15:18] #71 closed

[2018-11-09 15:18] #72 closed

[2018-11-09 15:21] wsalesky commented on #73
Turns out it was not fixed locally.

[2018-11-09 15:37] wsalesky commented on #67
@nathangibson Please take a look. Close if it works as expected.

[2018-11-09 15:39] wsalesky commented on #84
@nathangibson If there is nothing more pressing I will tackle this one next.

[2018-11-13 16:01] nathangibson commented on #84
Sounds good, thanks!
I am checking the 1.0 things you fixed. Sorry for the slow responses. Have had to slow down on the bibliography due to some other things on my plate.

[2018-11-13 16:13] nathangibson commented on #73
Looks good.

[2018-11-13 16:13] nathangibson commented on #71
How do I reindex?

[2018-11-13 16:14] nathangibson commented on #79
Looks good, except that I'm getting 0 results for pubPlace and publisher, I assume because it still needs to be reindexed.

[2018-11-13 16:20] #82 closed

[2018-11-13 16:36] nathangibson commented on #48
Unfortunately this isn't fixed with the new version. (You can test now on the biblia-arabica.com server.)

There is no feedback/response when I click the "Send e-mail" button on the form.

The Post request gets a 400 error. See screenshot for details.
![al-alam_s_version_of_zechariah](https://user-images.githubusercontent.com/3083452/48428126-9a88b400-e76a-11e8-948b-3abda147a169.jpg)

[2018-11-13 16:49] wsalesky commented on #71
You can reindex from the dashboard, use the collection browse option, navigate to the data directory where the TEI is, then click the reindex option on the collection browse window.

<img width="776" alt="screen shot 2018-11-13 at 11 47 25 am" src="https://user-images.githubusercontent.com/1168206/48428942-11598900-e73a-11e8-83d6-8ce3eb7de980.png">

[2018-11-13 16:49] wsalesky commented on #84
@nathangibson Okay, no rush. I will work on the email function today, and then get started with the refactor. Will keep you posted.

[2018-11-14 08:39] nathangibson commented on #71
Ahh, great, thanks!

[2018-11-15 14:57] wsalesky commented on #48
@nathangibson I think this is fixed?

[2018-11-15 14:57] #48 closed

[2018-11-23 10:47] rvollandt opened #91 "counter"
Hi Winona, here my first "issue". Nathan has passed on the Github ownership to me.

We need a counter of cleared references (these are the ones in the zotero published folder).
At the moment were have 238 cleared items verus 1546 in total in the whole library, planing to release them gradually in batches.

To keep users updated, I'd suggest that we include a short notification that says "xxx out o

[2018-11-30 09:15] nathangibson opened #92 "Sorting of Facet items in Browse in srophe-refactor"
Most browse facets should be sorted from most occurrences to least occurrences. But this is the opposite in https://github.com/biblia-arabica/srophe-eXist-app/tree/srophe-refactor. For example, Biblical Parts should be Old Testament, then New Testament, then Pseudepigrapha. See https://biblia-arabica.com/bibl/browse.html for how they should be.
#90

[2018-11-30 09:24] nathangibson opened #93 "Set nav-base in srophe-refactor to blank?"
On production, we are currently using a blank nav-base, but srophe-refactor uses /exist/apps/ba. https://github.com/biblia-arabica/srophe-eXist-app/blob/36183450308566868e5175dc4b7e63266363b016/repo-config.xml#L26
Since we are merging srophe-refactor into master it should be blank, right?
On my local test, I am getting 404s for links like http://localhost:8080/exist/apps/ba/$nav-base/bibl/browse.h

[2018-11-30 15:20] wsalesky commented on #93
@nathangibson the current path is for testing locally, I will change it for deployment. Where are you encountering the link you posted? The one giving you the 404?

[2018-12-04 17:41] wsalesky commented on #84
Okay, pulling in the refactored code today. Excuse any bumps.

[2018-12-04 18:21] wsalesky commented on #84
@nathangibson I have updated the app, if you could take a quick look around and let me know if you find anything missing? If it looks good you can close the issue. Thanks.

[2018-12-04 18:28] #93 closed, assigned to wsalesky

[2018-12-04 18:30] #92 closed

[2018-12-05 14:46] wsalesky commented on #91
Hi @rvollandt finally getting to this. Are both numbers dynamic? Will the total number in Zotero change? Or can I use the 1546 as a static unchanging number.

Thanks!

[2018-12-05 15:32] wsalesky commented on #91
@rvollandt Added.

[2018-12-05 15:32] #91 closed

[2018-12-05 19:20] rvollandt commented on #91
Dear Winona,

Both will be dynamic.

Thanks,

R

Von: Winona Salesky <notifications@github.com>
Antworten an: biblia-arabica/srophe-eXist-app <reply@reply.github.com>
Datum: Mittwoch, 5. Dezember 2018 um 15:46
An: biblia-arabica/srophe-eXist-app <srophe-eXist-app@noreply.github.com>
Cc: rvollandt <ronny.vollandt@lmu.de>, Mention <mention@noreply.github.com>
Betreff: Re: [biblia-arabica/srophe-eXis

[2018-12-10 15:59] wsalesky opened #95 "update spam filters"
See: https://github.com/srophe/srophe-eXist-app/issues/1125

[2018-12-10 17:37] wsalesky commented on #84
@nathangibson Can I close this?

[2018-12-10 18:22] wsalesky commented on #95
@nathangibson This has been updated. Please let me know if you continue to have problems.

[2018-12-10 18:22] #95 closed

[2018-12-11 08:04] nathangibson commented on #84
I assumed I needed to test this locally, but I see that you already loaded it onto the server! Thanks! It's been working so well that I didn't even notice!

[2018-12-11 08:04] #84 closed

[2018-12-11 08:13] nathangibson commented on #95
Thanks!

[2018-12-14 19:18] wsalesky commented on #3
@nathangibson checking back in on this. Where on the page would you like this to appear?

[2018-12-14 19:30] wsalesky commented on #83
@nathangibson The first part of this is done. I will add a language facet back in after resolving https://github.com/biblia-arabica/zotero2bibl/issues/16

[2018-12-17 14:19] wsalesky commented on #83
Added. Will show up when the data is updated.

[2018-12-17 14:38] #64 closed

[2018-12-17 14:43] wsalesky commented on #64
Done.

[2018-12-17 14:44] #67 closed

[2018-12-17 15:18] wsalesky commented on #53
@nathangibson Is there any action that needs to be taken here? Or can we leave this as possible future development?

[2018-12-17 18:11] wsalesky commented on #16
Fixed. This is now a variable. See: d66faf3fe690ca6094f6aa48e07d266bba3098ce 057a14624b884c0175a5fb86b7af9d268b9bc30b  9485dfe34a6e4197ad43ce412fb29fdffef38ee9

[2018-12-17 18:11] #16 closed

[2018-12-17 18:13] wsalesky commented on #85
@nathangibson I don't have anything better to recommend.  Would you like to try stat counter?

[2018-12-18 12:10] nathangibson commented on #81
Hmm, this way of including it in the XML doesn't seem like too much of a hack, does it?

I like the fact that this would preserve the data in the TEI and therefore also be accessible as part of the dataset that can be copied, manipulated, etc.

On the other hand, in a future version I could see wanting to provide the user with a selection of different citation styles that we pull from Zotero, in a

[2018-12-18 12:17] nathangibson commented on #53
@wsalesky Thanks, this is just for future development.

[2018-12-18 12:19] nathangibson commented on #85
Hmm, OK, let's table this for the moment and I'll check with R what he wants to do. We can reopen it if needed.

[2018-12-18 12:19] #85 closed

[2018-12-18 15:07] wsalesky commented on #3
@nathangibson on a new line?

[2018-12-18 15:10] wsalesky commented on #40
@nathangibson Just to clarify you want this in the browse, not the search? As drop down menus? I assume they would replace the facets that are currently in place for these categories?

[2018-12-18 15:53] nathangibson commented on #40
Yes, yes, and yes.

[2018-12-18 15:56] wsalesky commented on #40
righty-o

[2018-12-18 19:20] wsalesky commented on #3
Added. Will need to rerun the data for the pages to be included.
Also I noticed duplication in this record: https://www.zotero.org/groups/538215/biblia_arabica/items/itemKey/N6J9N2WK

I was using it to test. That means the pages show up twice. See:
<img width="910" alt="screen shot 2018-12-18 at 2 19 48 pm" src="https://user-images.githubusercontent.com/1168206/50177449-0a411000-02d0-11e9-8365-47b

[2018-12-18 19:20] #3 closed

[2018-12-19 18:03] wsalesky commented on #81
@nathangibson I think the COinS issue is different from the citations issue. COinS you want on the webpage when it loads, the other can be pulled in only when requested. So I would prefer adding it to the TEI and then transforming it in to a COinS object when the HTML is rendered. The other citations can be called by JavaScript via some sort of button or form.

[2018-12-19 18:23] wsalesky commented on #44
@nathangibson It looks like there is an api for this. Example: https://api.zotero.org/groups/538215/items/N6J9N2WK?format=bib&style=apa

or
https://api.zotero.org/groups/538215/items/N6J9N2WK?format=bib&style=chicago-author-date-basque

We would have to do some research to decide what styles you want to make available and then just make a request to the API. Should be fairly easy. To demo I will j

[2018-12-19 18:24] nathangibson commented on #81
Great, sounds good!

[2018-12-20 16:11] wsalesky commented on #44
@nathangibson I added a button for the citation styles. We can still investigate the export function. Looks like that can also be done using the Zotero API. However I am running low on time so perhaps we can leave this issue open for now and come back to it?

[2018-12-20 16:43] dlschwartz commented on #81
This solution sounds good to me.  @davidamichelson?

[2019-01-09 13:47] wsalesky commented on #83
@nathangibson What is the difference between the 'Language' facet and the and the 'Source Language' facet? Is there a way we can label the Language facet that make this more clear?

[2019-01-09 14:02] nathangibson commented on #83
Yes, I see your point. I think "Source Language" could be changed to "Translation Source Language" and the language facet you're currently adding could be "Language of Item". What do you think @rvollandt ?

[2019-01-09 14:35] wsalesky commented on #83
@nathangibson @rvollandt This is done. There is a list of language codes and matching languages here: https://github.com/biblia-arabica/srophe-eXist-app/blob/master/modules/lib/facet.xqm#L378

New codes will need to be added. Also I did not find the label for 'he-Arab' I can add it if you let me know what it should be.
Thanks!

[2019-01-09 14:38] rvollandt commented on #83
I don’t know the context, but when speaking about translations „Source language“ as a term is pretty clear. To make it even clearer one could “Source “language of translation”, as opposed to “language of item”

best,

R

Von: nathangibson <notifications@github.com>
Gesendet: Mittwoch, 9. Januar 2019 15:03
An: biblia-arabica/srophe-eXist-app <srophe-eXist-app@noreply.github.com>
Cc: rvollandt <ronn

[2019-01-09 14:44] nathangibson commented on #83
Great. @wsalesky Can we change it to "Source Language of Translation"? And he-Arab is "Judaeo-Arabic". Thanks!

[2019-01-09 14:48] wsalesky commented on #83
@nathangibson @rvollandt Done.

[2019-01-09 14:48] #83 closed

[2019-09-16 17:59] wsalesky commented on #40
This has been added. @nathangibson @rvollandt please test the feature and make sure it is performing as expected. We can tweak it if need be.
Thanks.

[2019-09-17 09:42] nathangibson commented on #40
Thanks @wsalesky! This is getting toward what we want, but the higher dropdowns should narrow the selection in the lower ones. At this point, you see all collections and all shelfmarks regardless of which city or collection is selected.
City should narrow collections and shelfmarks
Collection should narrow shelfmarks
See https://github.com/biblia-arabica/srophe-eXist-app/issues/40#issuecomment-436

[2019-09-17 13:24] wsalesky commented on #40
@nathangibson Sorry about that! I changed the names of the facets in the facet definition file and it broke the filter. Should work now. Note, if you do want to change the names/labels of the facets you also have to change them in the facet.xqm file.

[2019-09-17 13:42] nathangibson commented on #40
Better :-). When collection is selected, the shelfmarks show the correct selection.
Still a couple bugs:
 1. When only city (not collection) is selected, some shelfmarks are displayed that should not be. E.g., if you select Berlin https://biblia-arabica.com/bibl/browse.html?fq=;fq-City:Berlin you see héb. 292, etc. for shelfmark. It seems to be grabbing *all* shelfmarks of records that cite Berlin

[2019-09-17 14:55] wsalesky commented on #40
@nathangibson fixed. Let me know if you run across any other quirks. (Also, what the path to the bug was, i.e. what you clicked on.)

Thanks

[2019-09-23 12:55] nathangibson commented on #40
@wsalesky
The bug path was https://biblia-arabica.com/bibl/browse.html?fq=City:Berlin;fq-Collection:BBAW-GCS;fq-City:London
I clicked on City: Berlin then Collection: BBAW-GCS then changed City to London.

One other thing. Ideally, "Collection" and "Shelfmark" would be hidden until you select a "City." Then Shelfmark would remain hidden until you select Collection. It already functions this way (i

[2019-09-23 13:27] nathangibson opened #102 "Highlight collection browsing on bibliography home page"
@wsalesky We feel that the landing page for the biblio https://biblia-arabica.com/bibl doesn't surface the browsing features very well. We'd like to ask you to redesign the layout to better highlight browsing by collection. See attached screenshot.

Under the full title, before the intro text, we'd like to have two sections with clearly visible headers: "Browse by biblical section" and "Browse by

[2019-09-23 13:28] nathangibson commented on #102
PS Please keep the listed "editors" in the boxes. We'll supply you with any info on editors for the new boxes.

[2019-09-23 13:45] nathangibson opened #103 "Remove URLs in citation box"
Since we have the "View at" link, Ronny would like for us to remove the URL that appears inside the "Preferred Citation" box.
I believe in some cases Zotero automatically includes the item from the URL field in the citation that we're grabbing, so you'd have to strip it out. Is that okay, or is it something we need to change on the data side?
E.g., https://biblia-arabica.com/bibl/VC847CSA

[2019-09-23 13:52] nathangibson commented on #103
However, I think our converter is making DOIs into links. In this case (e.g. https://biblia-arabica.com/bibl/7UTHFEXT) can we include them down with the URI, formatted as a DOI but with clickable link? It would look like

[2019-09-23 13:55] nathangibson opened #104 "Error on search"
E.g. https://biblia-arabica.com/bibl/search.html?q=test gives me
`err:XPDY0002 variable '$sort-element' is not set. [at line 51, column 68, source: /db/apps/ba/modules/search/search.xqm]`

[2019-09-23 13:56] nathangibson opened #105 "Error loading advanced search"
https://biblia-arabica.com/bibl/search.html gives error
`err:XPTY0004 Grouping variable subject-facet evaluates to more than one item [at line 152, column 36, source: /db/apps/ba/modules/search/bibl-search.xqm]`

[2019-09-23 14:00] nathangibson opened #106 "Convert links in abstracts"
I thought I had put this in the conversion script but I guess not ...

Where we've linked in the Abstract field to other items, we've done so using the Zotero URI in curly braces. E.g. https://biblia-arabica.com/bibl/5MCGFR9K Abstract says

Can we have the conversion script change these to the biblia-arabica.com URIs with clickable links? So it should be

[2019-09-23 14:14] nathangibson opened #107 "IIIF Viewer??"
We would **love** to incorporate a IIIF viewer where IIIF manifests are available, so that users can see items inline in our bibliography. Do you think this is doable?

We could start with archive.org items. Documentation is here http://iiif.archivelab.org/iiif/documentation and here https://archive.readme.io/docs/ia-iiif-faqs.

An example would be https://biblia-arabica.com/bibl/K6G37MNV with III

[2019-09-23 14:21] nathangibson opened #108 "Hide See also and Zotero URIs"
@wsalesky We're getting a lot of extra clutter in the URIs and See Also under "Full Citation Information" on the item detail page. E.g. https://biblia-arabica.com/bibl/X9S78ZWR

Can we
 1. Eliminate the "see also" link since people can already get to this via the "View At" button.
 2. Put one of the Zotero links (whichever is more stable) as a "See Zotero entry" button at the bottom of the page, a

[2019-09-23 14:22] nathangibson commented on #108
In other words we want only the Biblia Arabica URI visualized as the "URI"

[2019-09-23 14:22] nathangibson commented on #53
FYI We're still putting this off for later.

[2019-09-23 14:33] nathangibson commented on #102
Edited above list per conversation with Ronny.

We would like to combine some sections when we list them as suggested browse points on the homepage. Is there an "OR" operator that would show, e.g., Acts (1 item, https://biblia-arabica.com/bibl/browse.html?fq=;fq-Biblical%20Sections:Acts) *and* Pauline Epistles (40 items, https://biblia-arabica.com/bibl/browse.html?fq=;fq-Biblical%20Sections:Paulin

[2019-09-24 13:45] wsalesky commented on #40
@nathangibson  Done. Collection and shelfmark are hidden until a city is selected, shelfmark remains hidden until a collection is selected.

[2019-09-24 13:57] wsalesky commented on #105
Fixed.

[2019-09-24 13:57] #105 closed

[2019-09-24 14:01] wsalesky commented on #106
@nathangibson do you want this in the Zotero script or the conversion from TEI to HTML? (I recommend the Zotero so it is correct in the TEI, either a ref or ptr element.)

[2019-09-24 14:32] wsalesky commented on #108
Done!

[2019-09-24 14:32] #108 closed

[2019-09-24 14:33] wsalesky commented on #107
@nathangibson I will investigate.

[2019-09-24 14:35] nathangibson commented on #106
Yes, in the Zotero script. I think we would want a ref, right?

[2019-09-24 14:37] wsalesky commented on #106
@nathangibson Yes I think ref is what we want. I have a few changes to make to the Zotero script. Hopefully I can get them all done today and you can rerun the script by tomorrow.

[2019-09-24 14:40] nathangibson commented on #108
Thanks!

[2019-09-24 15:06] nathangibson commented on #40
Great! But we cannot close it yet since it's the neverending issue :-)
1. Selecting "All" (for City / Collection / Shelfmark) should clear any previous filters for that particular facet  (City / Collection / Shelfmark respectively). Currently switching from a selection to all keeps the filter and also gives no way to clear it.
2. This just in from the boss: Above "City" can we provide the heading

[2019-09-24 17:07] wsalesky commented on #104
Fixed by : https://github.com/biblia-arabica/srophe-eXist-app/commit/168fda5b9da92cfd5e4744dd9ad99773a6c55c2a

[2019-09-24 17:07] #104 closed

[2019-09-25 07:53] nathangibson opened #109 "Explore website archival options"
﻿We would like to figure out some more robust ways of archiving the website for both long-term and short-term viability. Can you help us figure out our options and implement the ones that have to do with the Srophe app? (I'm also interested in this for Usaybia, if more support is needed than what BA has available.)

Here are some specific directions I'm thinking.

 1. Archiving the data: I think w

[2019-09-25 08:32] nathangibson opened #110 "Test direct bibliography import to server with eXist 5.0"
To the extent that previous bugs have been worked out in more recent versions of eXist, is it likely that we could start importing bibliography reliably using zotero2bibl on the live server if we upgrade it to eXist 5.0? Could you perhaps test this locally or whatever?
Or do you think we should just accept on principle that this kind of live updating is never a good idea?
Looking for a less compli

[2019-09-25 20:15] wsalesky commented on #103
Resolved in the new version of https://github.com/biblia-arabica/zotero2bibl/blob/master/zotero2tei.xqm

You will need to add these to the config file:
[code]

[2019-09-25 20:15] wsalesky commented on #103
@nathangibson run and test results. Close if it is resolved.

[2019-09-25 20:16] wsalesky commented on #106
@nathangibson
Resolved in the new version of https://github.com/biblia-arabica/zotero2bibl/blob/master/zotero2tei.xqm

You will need to add these to the config file:
[code]

[2019-09-25 20:50] wsalesky commented on #40
@nathangibson This is done. The data seems to be missing again, want me to re-run and load it? Any idea what happened?

[2019-09-26 06:53] nathangibson commented on #40
Weird, no idea what happened this time. On the eXist server I again see “Sorry, an error occurred” when I navigate to ba-data/data. Do you think our eXist installation is corrupted?

[2019-09-26 06:59] nathangibson commented on #106
Done. Thanks!

[2019-09-27 09:18] nathangibson commented on #103
Hmm, unfortunately I tried running this and it did nothing. I wondered if it was maybe the regex escaping on the curly brackets {} -- in Oxygen the regex matches only if the brackets are not escaped. But when I tried removing the escaping, I got a 400 error response when I tried to run it -- something about regex escaping in Java. So I'm not sure what the problem is.

[2019-09-27 09:20] nathangibson commented on #40
FYI I reloaded the same ba-data package back onto the server and it's working again. No idea what changed.

[2019-09-27 09:26] nathangibson commented on #40
One more thing: Currently changing the City drop-down clears the Collection and Shelfmark facets, as it should. But changing the Collection drop-down should also clear the Shelfmark facet (it does not).
You can see this if you start with https://biblia-arabica.com/bibl/browse.html?fq=;fq-City:Berlin;fq-Collection:BBAW-GCS;fq-Shelfmark:Akz.-Nr.%20481/27 and change "Collection" to "Staatsbibliothek"

[2019-09-27 13:07] wsalesky commented on #40
@nathangibson I'm so sorry, I thought I tested in locally and remotely! This should now be working as requested.

[2019-09-27 13:23] wsalesky commented on #103
These changes are showing up for me on my most recent run of the data, are you running the script with elevated privileges? If not run the following in eXide (as admin):

`sm:chmod('/db/apps/zoter2bibl/get-zotero-data.xql'), "rwsr-xr-x")`

I have also added this to the zotero2bibl library so it should add these permissions when the app is deployed.

<img width="882" alt="Screen Shot 2019-09-27 at

[2019-09-27 13:25] nathangibson commented on #40
Hmm, still getting the results mentioned above. Perhaps a caching issue on my end or eXist?

[2019-09-27 13:27] wsalesky commented on #40
Did you do a hard refresh? Or try another browser? I tested it with the link above and it works as expected.

[2019-09-27 14:34] nathangibson commented on #40
It looked like it worked once, but I've tried several hard refreshes and it's still behaving unexpectedly. Tried a different example in case the other one was cached. See what this does for you:
Start with https://biblia-arabica.com/bibl/browse.html?fq=;fq-City:London;fq-Collection:Bible%20Society;fq-Shelfmark:unspecified%20shelfmark
Then change Collection to British Library.
I get two results and

[2019-09-27 14:43] wsalesky commented on #40
@nathangibson Ah, I see. You are indeed correct, the solution I does not recurse. Try this one.

[2019-09-27 14:48] nathangibson commented on #40
I think that got it! I'll assume it's okay unless I discover any other weirdness. Thanks :-)

[2019-09-27 14:48] #40 closed

[2019-09-30 14:58] nathangibson commented on #103
Unfortunately I get the following error message when I install the latest zotero2bibl app:

It looks like it needs another slash in the file path?

[2019-10-01 00:45] wsalesky commented on #103
Sorry, you are correct, it was a bad path. Try now.

[2019-10-01 15:13] nathangibson commented on #103
Success! Installation was flawless and it looks like the results are as expected.
https://github.com/biblia-arabica/biblia-arabica-data/commit/75ca5dcc5a6490331c73a75e6028fd82118aa78b
Will wait until tomorrow to load onto the live server as I seem to break things when I try it at the end of the day :-)

[2019-10-01 15:20] wsalesky commented on #103
Great! Sorry about the typo!

[2019-10-02 10:41] nathangibson commented on #103
Okay, got the latest package loaded. Some changes are as expected. However, I might not have adequately explained what we'd like to happen with the DOIs.
Right now they're showing up as a link under "View at" and also as plain text next to "DOI:". We would like to supress the "View at" link for DOIs but make the text next to "DOI:" clickable.

<img width="478" alt="Bildschirmfoto 2019-10-02 um 12

[2019-10-02 14:17] nathangibson commented on #106
Some of these were successful, e.g., https://biblia-arabica.com/bibl/TETNIZR6

But in some of them have remained Zotero links, e.g., https://biblia-arabica.com/bibl/XCALY2N8 containing {https://www.zotero.org/groups/538215/biblia_arabica/items/itemKey/QEFP6HVN} and https://biblia-arabica.com/bibl/X9S78ZWR containing {https://www.zotero.org/groups/538215/biblia_arabica/items/itemKey/K6G37MNV}. As f

[2019-10-02 15:50] wsalesky commented on #106
@nathangibson I will take a look.

[2019-10-02 15:51] wsalesky commented on #110
@nathangibson we can test it, but there is an issue with eXist 5.0 with the app. (Maybe a 2 hour fix)

[2019-10-02 15:53] wsalesky commented on #103
@nathangibson this is an easy fix. Just to clarify, do you want both tei:idno elements shown in your example? Or should I just create the link in the XSLT?

[2019-10-02 16:52] wsalesky commented on #106
@nathangibson I see the problem, the group id string for the non matching URL is : 538215/biblia_arabica
See: https://www.zotero.org/groups/538215/biblia_arabica/items/itemKey/QEFP6HVN

You would have to add that as an additional altgroupid in the config file. (I tested it and it works. )

[2019-10-02 17:07] wsalesky commented on #109
@nathangibson This may be a conversation to have with Dave as well in terms of long term viability. I have been experiencing a lot of instability with variouse eXist-db installs which have left me with a lot of questions about long term viability.

2. I think investigating an option to output the site as static HTML sounds eminently reasonable, in addition I am very interested in the staticSearch

[2019-10-03 15:55] wsalesky commented on #102
@nathangibson There is not currently an or operator for facets, I can try to add one, if you like.

[2019-10-03 18:41] wsalesky commented on #102
@nathangibson How do you feel about a carousel approach to the browse options? The down side is that not all options will be on the page at once.

See example:
<img width="1422" alt="Screen Shot 2019-10-03 at 2 40 02 PM" src="https://user-images.githubusercontent.com/1168206/66154591-d24f5300-e5eb-11e9-92b6-ca3d0441ff59.png">

[2019-10-03 22:48] wsalesky commented on #102
@nathangibson Or I can just put them as horizontal list, then they will wrap...

[2019-10-04 07:58] nathangibson commented on #110
I see. Is this a bug in eXist that will be fixed? Or is it an intentional change that we'll need to adapt to eventually anyway?

[2019-10-04 07:59] nathangibson commented on #103
@wsalesky Thanks. Yes please include both tei:idnos.

[2019-10-04 08:55] nathangibson commented on #109
Thanks @wsalesky. I've put this on the docket for the next Syriaca meeting, not sure when that'll be.
 2. Great, it would be fantastic if you can investigate this. Since Biblia Arabica wants this, you can put in the time as part of that project. But before you start changing the Srophe app we should discuss with the other Srophe stakeholders as you said, and we will need to check the scale of the

[2019-10-04 09:04] nathangibson commented on #102
If it's not too much effort, that would be great. Otherwise we can label them differently in the data.

[2019-10-04 09:06] nathangibson commented on #102
Let's ask @rvollandt . I really like the overall look, just not sure if we want to force people to click through horizontally.

[2019-10-04 13:10] wsalesky commented on #102
We can have them wrap. I think that would still look nice. I would make them a little smaller.

[2019-10-04 13:12] wsalesky commented on #110
It is an intentional change so we would need to adapt if we want to move to the 5.0 release.

[2019-10-04 13:14] wsalesky commented on #109
The next meeting is Monday, I can send you the time via email.

3. I can add the Docker documentation to the Srophe app wiki, that makes the most sense.

[2019-10-21 09:26] nathangibson commented on #110
OK, this is probably more important than IIIF Viewer #107 but less important than the other things so please do it if you have time.

[2019-10-21 09:27] nathangibson commented on #109
Thanks, let me know when you've done that.

[2019-10-21 09:28] nathangibson commented on #109
I mean the Docker documentation.

[2019-10-21 09:36] nathangibson commented on #102
Yes, please try that.

[2019-10-21 09:47] nathangibson opened #113 "Visualize bibliography progress on home page"
While you're doing work on the home page (#102 ) ...

We would like to visualize on the home page the progress of the editing work, as is done at https://web.nli.org.il/sites/NLIS/en/ManuScript. (see screenshot) This should be fairly prominent but not overwhelming.

What you've done with the text, e.g., "348 out of 1546 online" is a good start. This might say, for example, "348 entries online", "1

[2019-10-21 10:17] nathangibson commented on #106
Looks like this worked. Managed to crash the server trying to update the data app though :-(

[2019-10-21 10:17] #106 closed

[2019-10-21 12:19] nathangibson commented on #106
OK, server back up and the new records look good!

[2019-10-21 12:36] wsalesky commented on #106
Great!

[2019-10-21 12:39] wsalesky commented on #110
@nathangibson I will try to make time for it this week.

[2019-10-21 21:15] wsalesky commented on #113
@nathangibson How do I know how many entries are in process?

[2019-10-21 22:57] wsalesky commented on #103
@nathangibson Done.

[2019-10-21 22:57] #103 closed

[2019-10-27 19:49] wsalesky commented on #102
@nathangibson I found the 'slide' version above to be awkward with so many slides,  here is an alternative version, let me know what you think.
https://biblia-arabica.com/bibl/index-alt.html

[2019-10-30 15:25] wsalesky commented on #110
@nathangibson This works locally, and the change to get it running on 5.0 is quite small, less then an hour. I tried to get it up on AWS last night but ran out of time. I can try again tonight, or if you  have an instance of 5.0 (even a RC version should be fine) you could load the zoter2bibl module and test it out, see if you can connect to Zotero.

[2019-11-05 15:38] nathangibson commented on #113
@wsalesky Sorry for the delay. Got this just before going on vacation.

Entries in process are total number of items (not including notes/attachments) in Zotero library. So you should be able to get that with an API call (but it will need to use the altgroupID, i.e., the one that doesn't include the collections subdirectory).

[2019-11-05 15:50] nathangibson commented on #110
@wsalesky At the moment I don't really have a server testing instance for biblia arabica. Can you test on your AWS and then if you think it's safe we can work on upgrading the production server and testing it there (with appropriate backups)?

[2019-11-05 15:52] nathangibson commented on #102
@wsalesky I'll discuss with @rvollandt and get back to you.

[2019-11-05 15:57] nathangibson commented on #113
Sorry correction: the entries in process are simply the total entries *minus* the ones that are "online". The current page already grabs these numbers ("356 out of 1546"), it just needs to do the math and visualize it more nicely :-)

[2019-11-05 16:08] nathangibson commented on #102
With simpler motifs rather than text?

[2019-11-05 16:18] wsalesky commented on #110
@nathangibson Yes I can. My AWS installation failed last week, but I will give it another try this week.

[2019-11-05 16:32] wsalesky commented on #102
I will post a version with the individual images. I think it looks messy
because there are so many of them, but I will let you be the judge.
-Winona

On Tue, Nov 5, 2019 at 11:31 AM nathangibson <notifications@github.com>
wrote:

[2019-11-06 08:41] nathangibson commented on #102
OK, thanks. I believe you, but we might need to see it to get an idea of what to do differently :-)

[2019-11-06 08:42] nathangibson commented on #110
Thanks. If it's a lot of effort, you can wait until we get our test server up and running instead. It just may be a while.

[2019-11-06 12:36] wsalesky commented on #110
It is good practice for me. I will get it up, but probably not this week.

[2019-11-06 15:31] wsalesky commented on #102
@nathangibson Okay, here is one version with the individual images:
https://biblia-arabica.com/bibl/index-alt2.html

[2019-11-11 10:34] nathangibson commented on #102
Thanks for that. Discussed with @rvollandt and we would be intersted in trying a combo approach. We like the 2-column (index-alt) version, because it ques the user clearly about the browse options. But we do prefer the square icon pics if there aren't too many.

Could we try keeping the 2 columns but instead of having the horizontal pic on top of each, having only 3 browse items for each with a th

[2019-11-11 12:35] wsalesky commented on #102
@nathangibson @rvollandt That sounds good. Will try to have something to you early this week.

[2019-11-14 19:05] wsalesky commented on #102
@nathangibson @rvollandt

How about this one:
<img width="1419" alt="Screen Shot 2019-11-14 at 2 04 41 PM" src="https://user-images.githubusercontent.com/1168206/68887860-c032fb00-06e7-11ea-8852-b37d719140dc.png">

[2019-11-15 09:05] nathangibson commented on #102
I like this direction. Will check with @rvollandt .

[2019-11-18 13:00] nathangibson commented on #102
@wsalesky We like this! We'll get back to you with some pics. Also the picture headers in the "Browse by theme" section should be

- [General Introductions](https://biblia-arabica.com/bibl/browse.html?fq=;fq-Subjects:Generalia) Edited by Ronny Vollandt
- [Historic Printings](https://biblia-arabica.com/bibl/browse.html?fq=;fq-Subjects:Historic%20Printings)
- [Qaraite Translations](https://biblia-ar

[2019-11-18 13:49] wsalesky commented on #102
Great! I will make the changes as soon as I have the new images.

[2019-12-11 01:53] wsalesky commented on #81
@nathangibson This has been added to the zotero2bibl script and to the HTML generation. Let me know how it works for you.

[2020-01-06 18:12] wsalesky commented on #113
@nathangibson Sorry for the delay! Working on the rest of these issues this month, will get them all finished by the end of the month. I have a counter working but will wait to fully style it until the new home page is ready, I think I need some additional images?

Here it is so far. Numbers will update automatically. (Note, this is my local install, I do not have the full data set uploaded, hence

[2020-01-06 18:14] wsalesky commented on #102
@nathangibson Just waiting for the final images for this, will update status bar at the same time.  See: https://github.com/biblia-arabica/srophe-eXist-app/issues/113

[2020-01-06 18:16] wsalesky commented on #44
@nathangibson I think this is complete? Please let me know if I missed something.

[2020-01-06 18:16] #44 closed

[2020-01-06 18:18] wsalesky commented on #81
@nathangibson I think this can be closed. Reopen if I have missed something.

[2020-01-06 18:18] #81 closed

[2020-01-06 18:48] wsalesky commented on #109
@nathangibson Here is the documentation for running the srophe app  with docker and docker-compose: https://github.com/srophe/srophe/wiki/Deploying-with-Docker

@davidamichelson expressed an interest in the static HTML version of the record pages as well, and we have a partial solution developed for https://github.com/srophe/bethqatraye. I will go ahead and build it out so it is an XSLT that can b

[2020-01-10 14:46] wsalesky commented on #107
@rvollandt @nathangibson Do you have a favorite, or a list of features you want supported? I think we could easily implement  any of the above, but should chose one based on desired features.

[2020-01-13 00:12] millertg commented on #107
@wsalesky @rvollandt @nathangibson Hi All! I am very new at all of this, but Mirador is being used in the 10,000 Rooms project at Yale (https://tenthousandrooms.yale.edu), which may have useful functionality. On the MIrador homepage, they say they use Openseadragon for visual navigation (https://projectmirador.org/).  I am uncertain what that would mean for implementing within Srophe, however.

[2020-01-13 13:27] nathangibson commented on #107
Thanks @wsalesky and @millertg ! Glad to collaborate on this.

At present our main purpose is displaying multi-page books or articles for people to be able to read directly on the site. @millertg are the architectural plans you want to display generally single images or multi-page items?

For us and perhaps other users of the Srophe app, viewing manuscripts or inscriptions would be another likely

[2020-01-13 14:52] wsalesky commented on #107
@nathangibson @millertg I will run some tests with Mirador and UV and get back to you here on which I think performs faster.

[2020-01-13 15:18] millertg commented on #107
@cliffordanderson  I think Cliff Anderson might be able to help us with this, too, so I am inviting him to join.

[2020-01-13 15:19] CliffordAnderson commented on #107
@millertg Thanks for including me on this conversation. I look forward to your thoughts vis-a-vis Mirador and UV, @wsalesky

[2020-01-13 15:23] wsalesky commented on #107
@CliffordAnderson is the library using any of the above options?

[2020-01-15 14:54] CliffordAnderson commented on #107
No, we are not using any IIIF clients. We have Canteloupe set up in the context of Islandora, but that's it as far as I'm aware.

[2020-01-29 22:08] wsalesky commented on #107
@nathangibson @millertg So far it looks like Mirador is very easy to set up and use. We will need to discuss how the images will be referenced in the TEI so I can add the actual functionality.

[2020-01-29 22:15] wsalesky commented on #113
@nathangibson @rvollandt Checking in on this issue. If you get me the new images for the home page we can have the new version up by the end of the week.

[2020-02-07 13:44] wsalesky commented on #102
@nathangibson @rvollandt Just checking in on this issue, if you send me images for the home page we can get the new version up next week.

[2020-02-07 13:46] nathangibson commented on #102
@wsalesky So sorry, have been drowning in an apocalyptic swamp the last few weeks. Will try to get to this soon!

[2020-02-07 13:51] wsalesky commented on #102
@nathangibson No problem, I'm just trying to round up all my remaining bugs on various projects.

[2020-02-07 13:52] nathangibson commented on #102
Thanks!

[2020-05-25 08:27] nathangibson commented on #102
@rvollandt is working on selecting images.

[2020-05-25 08:45] nathangibson commented on #107
Catching up on old issues ...
I would suggest archive.org as a test case -- some of our items are viewable there. E.g. https://biblia-arabica.com/bibl/L6IWVR88.tei

The archive.org link is under /TEI/text/body/biblStruct/*[1]/ref/@target (please double-check)

The link (in this case http://archive.org/details/cataloguscodicu00sinagoog) can be turned into a IIIF request by replacing `https?://archi

[2020-05-25 08:48] nathangibson commented on #109
Checking up on open issues ... what's the status on this? I should also try out the Docker instructions :-)

[2020-05-25 09:17] nathangibson commented on #107
For reference, another group of items we can pull in with IIIF is "Digitale Sammlungen" which have URLs in the format
http://reader.digitale-sammlungen.de/resolve/display/{ID}.html (e.g., http://reader.digitale-sammlungen.de/resolve/display/bsb10815059.html)
or http://mdz-nbn-resolving.de/urn:nbn:de:bvb:12-{ID}-{page} (e.g., http://mdz-nbn-resolving.de/urn:nbn:de:bvb:12-bsb10815059-0)

The IIIF ma

[2020-05-25 13:52] wsalesky commented on #109
@nathangibson The issue has stalled. I simply need to adapt the XSLT scripts to output a full HTML record, it should only take an hour or two, so I will try to fit it into my schedule for the coming week. Thanks for the reminder.

[2020-05-25 13:53] wsalesky commented on #107
@nathangibson I think the ref@type='IIIF' would work well. If you want to start marking up the bibl records I can add the code to the application.

[2020-05-25 14:40] nathangibson commented on #107
@wsalesky Done. You can see some records to test out here: https://github.com/biblia-arabica/srophe-eXist-app/issues/107

Can you test this locally?

Not sure what the best way to incorporate this into the Zotero import would be. I don't really want to have to add IIIF links manually in Zotero. And it seems clunky to add known IIIF providers to the converter and match against that, but I don't thi

[2020-05-29 17:59] wsalesky commented on #107
@nathangibson How do you want users to access the IIIF images? A link along the top near the print/TEI/RDF/Cite buttons? Some other way?

[2020-06-02 10:59] nathangibson commented on #107
@wsalesky
If possible, I think we'd want the IIIF view actually embedded in the item detail page, perhaps under the Abstract but before Full Citation Information?

If that's not possible (or advisable) perhaps we could have a large static thumbnail with a "read online" overlay that functions as a button linking to the IIIF?

In any case the IIIF should be immediately obvious, since it's intended a

[2020-06-03 13:45] wsalesky commented on #107
I will experiment and see what can be done.

[2020-06-16 12:53] nathangibson commented on #102
@wsalesky The images for the new bibliography homepage thumbnails are finally ready!! See https://docs.google.com/document/d/13H7otx85m-5swQlbhORY4sNvyaQsiQzK8HIVB9Cbd4E/edit for a list. @rvollandt thinks these should all be CC-BY (I think in the case of the ones for Historic Printings and General Introductions these are actually public domain.)

[2020-06-16 13:31] wsalesky commented on #102
Wonderful. I will try to get to this this week.
-Winona

On Tue, Jun 16, 2020 at 8:53 AM nathangibson <notifications@github.com>
wrote:

[2020-07-10 12:46] nathangibson commented on #102
Here's what I'm seeing -- looks good except I don't see the thumbnail images for the categories

![Screenshot_2020-07-10 Biblia Arabica bibliography](https://user-images.githubusercontent.com/3083452/87155933-1e869c80-c2bc-11ea-80d7-bbd67caf14ea.jpg)

[2020-07-10 14:39] wsalesky commented on #102
@nathangibson is this on a local build? How did you pull in the changes? I see the images in the pull request (https://github.com/biblia-arabica/srophe-eXist-app/pull/116/files), so I'm not sure why they are not showing up for you.

[2020-07-10 15:07] nathangibson commented on #102
Oh, sorry, it should have been obvious. I loaded in the home page code from the commit but not the images (face palm). Now I see them. Looks great! Checking with @rvollandt

[2020-07-10 15:14] wsalesky commented on #102
Okay, if it looks okay to both of you, you can complete the merge and
everything should get pushed to the server. (let me know if anything goes
wrong)

On Fri, Jul 10, 2020 at 11:07 AM nathangibson <notifications@github.com>
wrote:

[2020-09-17 12:48] wsalesky commented on #102
@nathangibson @rvollandt Can I move this page to the production site?

[2020-09-17 13:07] wsalesky commented on #113
Marking as done. Will go live when we push the new home page (https://github.com/biblia-arabica/srophe-eXist-app/issues/102), which is waiting for approval from @nathangibson and/or @rvollandt

[2020-09-17 13:07] #113 closed

[2021-02-23 16:21] nathangibson commented on #102
@wsalesky This is looking great. But there are some small fixes.

1. Qaraite Translations should link to https://biblia-arabica.com/bibl/browse.html?fq=;fq-Community%20of%20Origin:Qaraite
2. Please remove the link for "Planned Additions" (leaving only the text)
3. Under Planned Additions please remove Early Prints.

Thanks!

[2021-02-24 14:21] nathangibson commented on #102
@wsalesky Thanks for the quick update and sorry for so much back and forth, but there are some changes from @rvollandt :

1. He says "This looks a bit dense for my taste. Maybe larger script size and more spacing." I don't know, do we need to make some things stack to accomplish that?
2. We're about to release Samaritan Translations. Can we remove that from "Planned Additions" and put it under as

[2021-02-24 14:26] nathangibson commented on #102
Oh, and we also need to figure out the image credits - what and where they go. Forgot about that! So maybe you can do a screenshot with the above changes and I'll try to get the image credits soon.

[2021-02-25 15:41] wsalesky commented on #102
How does this version look?

<img width="1673" alt="Screen Shot 2021-02-25 at 10 39 22 AM" src="https://user-images.githubusercontent.com/1168206/109177439-ce2e5300-7755-11eb-947b-94ecbf62ba6d.png">

[2021-02-25 16:24] rvollandt commented on #102
Dear Winona,

Yes, thanks! Samaritan translation need the addition “edited by Leonhard Becker”, similarly to the Gospels and Pauline Epistles on the left.

Thank you,

Ronny

Von: Winona Salesky <notifications@github.com>
Antworten an: biblia-arabica/srophe-eXist-app <reply@reply.github.com>
Datum: Donnerstag, 25. Februar 2021 um 16:42
An: biblia-arabica/srophe-eXist-app <srophe-eXist-app@noreply.

[2021-03-16 23:30] wsalesky commented on #102
The requested changes have been made.

[2021-03-18 15:35] nathangibson commented on #102
Thanks @wsalesky .

A tiny thing: For some reason "edited by Leonhard Becker" is a different font size from the other "edited by" bylines.

Here are the image credits.  I would suggest this go simply as an unobtrusive text paragraph at the bottom of the page, after the "Contributors" section. Unless @rvollandt has a different suggestion:

Image credits: All: [Vatican, Biblioteca Apostolica Vatican

[2021-03-23 15:23] wsalesky commented on #102
Fixed.

[2021-03-23 15:42] nathangibson commented on #102
Looking great. I'll close this and we'll reopen if @rvollandt has any fixes.

[2021-03-23 15:42] #102 closed

[2021-05-19 14:23] wsalesky commented on #107
@nathangibson @rvollandt example of the IIIF Mirador viewer in the record. Another option would be to have a thumbnail and link to a full page version of the viewer. The Mirador viewer does not always play well with Bootstrap. Let me know what you think. And when what the data will look like so I can write a hook in the xquery.

[2021-05-20 11:42] wsalesky commented on #107
@nathangibson I will take a look, that is an xquery issue, looks like some imported modules are not resolving correctly. In the mean time, I meant to post a link in the above comment. Here it is:
https://biblia-arabica.com/bibl/iiifDemo.html

[2021-05-20 12:24] nathangibson commented on #107
@wsalesky This is awesome! It will provide such a convenient feature for our readers :-)

1. **First reactions on the interface:** It suits the look of our site really well. I'm not sure what is easily customizable, but the following tweaks would be great if they're built-in options:
  1.1. Default view: Single
  1.2. Default thumbnails: Right
  1.3. "Maximized" window (hiding outer left sidebar)

[2021-05-21 18:07] wsalesky commented on #107
@nathangibson

Here are the customizations I was able to do:
https://biblia-arabica.com/bibl/iiifDemo.html

I will take a look at the data and see how this can be automated for the records, can you give me an example Zotero record to use?

[2021-05-26 10:34] nathangibson commented on #107
@wsalesky Wow! Looks great!

Here's an example: https://biblia-arabica.com/bibl/K6G37MNV = https://www.zotero.org/groups/538215/biblia_arabica/items/K6G37MNV which already has URL https://archive.org/details/arabicversionofe00gibs and needs IIIF manifest at https://iiif.archivelab.org/iiif/arabicversionofe00gibs/manifest.json

[2021-05-28 17:53] wsalesky commented on #107
@nathangibson  This has been added. Can you check a few records you know it should be working on?

[2021-05-28 17:53] #107 closed

[2021-05-31 11:12] nathangibson commented on #107
@wsalesky Awesomeness!

https://biblia-arabica.com/bibl/EVURSLZ4 gives an error. It appears that https is required for archive.org, i.e., https://iiif.archivelab.org/iiif/b30542704/manifest.json rather than http://iiif.archivelab.org/iiif/b30542704/manifest.json

How should I provide you the lookup table for the few other services besides archive.org?

[2021-05-31 13:04] wsalesky commented on #107
In the issue would be fine.

[2021-05-31 13:51] nathangibson commented on #107
| Find | Replace | Example |
| --- | --- | --- |
| `https?://reader.digitale-sammlungen.de/resolve/display/(.*?).html` | `https://api.digitale-sammlungen.de/iiif/presentation/v2/$1/manifest` | https://biblia-arabica.com/bibl/VC847CSA |
| `https?://mdz-nbn-resolving.de/urn:nbn:de:bvb:(\d+)-([a-z0-9]+)-([a-z0-9]+)` | `https://api.digitale-sammlungen.de/iiif/presentation/v2/$2/manifest` | https://bib

[2021-06-03 10:24] nathangibson commented on #107
@wsalesky Great! Except I don't get a IIIF viewer for https://biblia-arabica.com/bibl/H35M782P for some reason ...

[2021-06-03 19:31] wsalesky commented on #107
Check the URL, If it does not show up, it does not match the current
patterns.

On Thu, Jun 3, 2021 at 6:24 AM Nathan P. Gibson ***@***.***>
wrote:

[2022-02-25 10:41] nathangibson opened #130 "Redirect issues nginx/eXist"
@wsalesky I'm once again struggling with getting the redirects correct with nginx + docker + eXist. (Similar to https://github.com/usaybia/srophe-eXist-app/issues/45 and https://github.com/usaybia/srophe-eXist-app/issues/27, but those solutions aren't working for me.)

Here's the deal: If I have nginx `location` `proxyPass` set as `[my docker IP/port]/exist/apps/ba/` then I can access the app home

[2022-04-28 13:10] wsalesky opened #133 "Resolve bugs introduced by design updates"
Reminder to all editors, HTML pages must be XHTML pages. All tags must be closed and special characters must be escaped, otherwise eXist will simply store the pages as a binary resource and be unable to render it via the templating system.

[2022-05-02 13:16] nathangibson commented on #133
Passing this along to the @biblia-arabica/design team. Thanks @wsalesky!

[2022-05-02 14:12] nathangibson commented on #133
Thanks @wsalesky!

[2022-05-02 14:12] #133 closed

[2022-05-04 13:58] #130 closed